.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #828282;
}

.home-page > * {
    margin: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    background-color: #1ECDC8;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

}

.user-info > img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
}

.user-info > * {
    margin: 10px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    align-content: space-between;
}
#edit-btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-right: 20px;
}
#edit-btn:hover{
    background-color: #2A6DB0;
}

#signout-btn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #ff0000;
    color: white;
    font-size: 15px;
    cursor: pointer;
}